body {
  padding-top: 60px;
}
.navbar-nav {
  margin: 0px 0%;
  margin-left: 40%;
}
.logIn {
  float:right;
  border: 1px;
  border-color: #333;
}
.logInText {
  background-color: #008500 !important;
  color: white !important;
}
.logInText:hover {
  background-color: #00AA00 !important;
}
.menu {
  width: 10%;
  max-height: 85%;
  overflow: auto;
  float: left;
}
#menu {
  width: 100%;
  max-height: 100%;
}
.buttonInGroup {
  height: 5%;
  width:50%;
}
.btn-group{
  height: 5%;
  width:100%;
}
.panel {
  /*margin-right: 4%;*/
  /*float: left;*/
  clear: none;
  margin-left: 10.5%;
  border-color: #000000;
}
img {
  max-width:100%;
  max-height: 150px;
}
.list-group-item{
  text-align: center;
  max-height: 150px;
}
.disabled {
  text-align: left;
}
#sidePanelButton{
  /*width: 4%;*/
  /*height: 50px;*/
  /*float: right;*/
}
.infoLabel {
  float: left;
  font-size: 155%;
}
.startButton {
  float: right;
}
.navBot {
  max-height: 5% !important;
  min-height: 0px;
}
