<% layout('../layout') -%>
<div class="canvas">
  <div class="menu">
    <div class="list-group" id="menu">
      <a href="#" class="list-group-item disabled">
        Arduino
      </a>
      <a href="#" class="list-group-item">
        Test
      </a>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-danger btn-delete disabled buttonInGroup" id="btn-delete">Delete</button>
      <button type="button" class="btn btn-primary buttonInGroup" data-toggle="offcanvas" data-target="#history" data-canvas="body">History</button>
    </div>
  </div>
  <!-- <div class="panel"> -->
  <div id="panel" class="panel"></div>
  <nav id="history" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
    <button class="btn btn-link navmenu-brand" id="historyClose">Close history</button>
    <div class="list-group" id="historyMenu">

    </div>
  </nav>
  <nav class="navbar navbar-default navbar-fixed-bottom navBot">
    <div class="results">
      <span class="label label-info infoLabel" id="infoLabel">Create an Arduino</span>
      <button type="button" class="btn btn-default startButton" id="startButton">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>Start
      </button>
    </div>
  </nav>
  <!-- <button id="sidePanelButton" href="external.html" data-slidepanel="panel" class="btn btn-primary">History</button> -->
</div>
<!-- </div> -->
<script type="text/javascript" src="javascripts/scripts.js"></script>
