<% layout('../layout') -%>
<div class="list-group menu">
  <a href="#" class="list-group-item disabled">
    cvwdmkvownnvdw
  </a>
  <a href="#" class="list-group-item">
    dwvvwvwvwvvdvwv
  </a>
</div>
<div id="panel" class="panel"></div>
<script type="text/javascript">
$( document ).ready(function() {
  var sourcePin = null, sourceElement = null, sourcePinFromPanel = null, currentLine = null;
  var arduinoElement = [];
  var wires = [];

  function Pins(pinName, pinType, pinX, pinY) {
    this.pinName = pinName;
    this.pinType = pinType;
    this.pinX = pinX;
    this.pinY = pinY;
    this.pinOut = null;
    this.pinIn = null;
    this.lineOut = [];
    this.lineIn = [];
    this.choosen = false;
    this.parentObject = null;

    this.setParentObject = function(object) {
      this.parentObject = object;
    }

    this.getParentObject = function() {
      return this.parentObject;
    }
  }

  function ArduinoElement(name, type, pinCount, pins, statement, statementXs, statementYs) {
    this.name = name;
    this.type = type;
    this.pinCount = pinCount;
    this.pins = pins;
    this.statement = statement;
    this.statementXs = statementXs;
    this.statementYs = statementYs;
    this.that = this;

    this.isArduino = function() {
      return this.name == 'Arduino';
    }
  }

  function getColorInt() {
    return Math.floor(Math.random() * 256);
  }

  var responceJson;
  //console.log("ready");
  $.ajax({
    url: 'http://localhost:3000/getjson',
    method: 'POST',
    data: 'done',
    dataType: 'html'
  }).done(function (msg) {
    //console.log('success');
    responceJson = JSON.parse(msg);//, function(k, v) {
      //console.log("k: "+k+" v: "+v);
    //});
    console.log(responceJson);
    var firstMeet = false;
    var appendArduino = '<a href="#" class="list-group-item disabled">Arduino</a>';
    var appendComponent = '<a href="#" class="list-group-item disabled">Components</a>'
    var arr = Object.keys(responceJson).map(function(k, v) {  return responceJson[k] });//console.log(k);console.log(v);

    for (var i = 0; i < arr.length; i++) {
      // = new Pins[arr[i].pinCount];
      var pins = [];
      var j=0;
      var prev;
      Object.keys(arr[i].pinNamesAndTypes).map(function(current, v) {
        if (arr[i].name == 'Arduino' && arr[i].type == 'Uno' && prev == '5V') {
          var pin = new Pins('GND', 'ground', arr[i].pinXs[j], arr[i].pinYs[j]);
          pins.push(pin);
          j++;
          var pin = new Pins('GND', 'ground', arr[i].pinXs[j], arr[i].pinYs[j]);
          pins.push(pin);
          j++;
        } //else {
          var pin = new Pins(current, arr[i].pinNamesAndTypes[current], arr[i].pinXs[j], arr[i].pinYs[j]);
          //console.log(current+": "+arr[i].pinNamesAndTypes[current]);
          pins.push(pin);
          j++;
        //}
        prev = current;
      });
      //for (var j = 0; j < arr[i].pinCount; j++) {
      //console.log("Pins: ");
      //console.log(pins);
      //}
      arduinoElement.push(new ArduinoElement(arr[i].name, arr[i].type, arr[i].pinCount, pins, arr[i].statement, arr[i].statementXs, arr[i].statementYs));
      var currentElement = arduinoElement.pop()
      for (var j = 0; j < currentElement.pins.length; j++) {
        currentElement.pins[j].setParentObject(currentElement);
      }
      arduinoElement.push(currentElement);
      //console.log("Element: ");
      //console.log(arduinoElement);
      var menuName = arr[i].name==arr[i].type?(arr[i].name):(arr[i].name+' '+arr[i].type);
      if (arr[i].name == 'Arduino') appendArduino = appendArduino + '<a href="#" class="list-group-item" data="'+i+'">'
            + arr[i].name + ' ' + arr[i].type + '<img src="images/' + arr[i].statement.default + '"></a>';
      else appendComponent = appendComponent + '<a href="#" class="list-group-item" data="'+i+'">'
            + menuName + '<p><img src="images/' + arr[i].statement.default + '"></p></a>';
    }

    $(".menu").html(appendArduino+appendComponent);
    //var height = window.screen.availHeight * 0.9;
    //var width = window.screen.availWidth * 0.9;
    var style = {
      width: window.screen.availWidth * 0.85,
      height: window.screen.availHeight * 0.8
    }
    $("#panel").css(style);
    myPanel = new jsgl.Panel(document.getElementById("panel"));
    myPanel.addClickListener(panelInteraction);
    myPanel.addMouseMoveListener(panelInteraction);
    myPanel.addMouseDownListener(panelInteraction);
    myPanel.addMouseOverListener(panelInteraction);
    myPanel.addMouseOutListener(panelInteraction);

    var z=2;
    $("a.list-group-item").filter(function(index) {
      return $(this).attr("class") != "disabled";
    }).on("click", function() {
      //console.log(this);
      var myImage = myPanel.createImage();
      var index = $(this).attr("data");
      myImage.setUrl("images/" + arduinoElement[index].statement.default);
      myPanel.addElement(myImage);
      myImage.setLocationXY(style.width/2-arduinoElement[index].statementXs[0]/2, style.height/2-arduinoElement[index].statementYs[0]/2);
      myImage.setSizeWH(arduinoElement[index].statementXs[0], arduinoElement[index].statementYs[0]);
      if (arduinoElement[index].name == 'Arduino') myImage.setZIndex(0);
      else myImage.setZIndex(z);
      z++;
      //console.log(myImage.getWidth());
      arduinoElement[index].imageOnPanel = myImage;
      arduinoElement[index].imageOnPanel.parent = arduinoElement[index];
      //arduinoElement[index].imageOnPanel.addMouseMoveListener(elementInteraction);
      //arduinoElement[index].imageOnPanel.addMouseDownListener(elementInteraction);
      //arduinoElement[index].imageOnPanel.addClickListener(elementInteraction);
      for (var i = 0; i < arduinoElement[index].pinCount; i++) {
        var pinRect = myPanel.createRectangle();
        //pinRect.setHorizontalAnchor(jsgl.HorizontalAnchor.CENTER);
        //pinRect.setVerticalAnchor(jsgl.VerticalAnchor.MIDDLE);
        pinRect.setLocationXY(arduinoElement[index].imageOnPanel.getX()+arduinoElement[index].pins[i].pinX,
                              arduinoElement[index].imageOnPanel.getY()+arduinoElement[index].pins[i].pinY);
        pinRect.setSizeWH(10, 10);
        if (arduinoElement[index].name == 'Arduino') pinRect.setZIndex(1);
        else pinRect.setZIndex(z);
        pinRect.getFill().setColor("rgb(255,0,0)");
        pinRect.getFill().setOpacity(0.0);
        pinRect.getStroke().setOpacity(0.0);
        //pinRect.choosen = false;
        arduinoElement[index].pins[i].rect = pinRect;
        arduinoElement[index].pins[i].rect.parentPin = arduinoElement[index].pins[i];
        //arduinoElement[index].pins[i].rect.addMouseOverListener(pinInteraction);
        //arduinoElement[index].pins[i].rect.addMouseOutListener(pinInteraction);
        //arduinoElement[index].pins[i].rect.addMouseDownListener(pinInteraction);
        //arduinoElement[index].pins[i].rect.addClickListener(pinInteraction);
        myPanel.addElement(arduinoElement[index].pins[i].rect);
      }
      z++;
    });

    function pinInteraction(eventArgs) {
      //var choosen = false;
      switch(eventArgs.getEventType()) {
        case jsgl.MouseEvent.CLICK:
          //sourcePin = eventArgs.getSourceElement();
          //sourcePin.getFill().setOpacity(1.0);
          //choosen = true;
          break;
        case jsgl.MouseEvent.DOWN:
          //sourcePin = eventArgs.getSourceElement();
          //sourcePin.getFill().setOpacity(1.0);
          //choosen = true;
          break;
        case jsgl.MouseEvent.UP:
          //text = "mouse up";
          break;
        case jsgl.MouseEvent.MOVE:
          //text = "mouse move";
          eventArgs.getSourceElement().getFill().setOpacity(1.0);
          break;
        case jsgl.MouseEvent.OVER:
          eventArgs.getSourceElement().getFill().setOpacity(1.0);
          break;
        case jsgl.MouseEvent.OUT:
          if (!eventArgs.getSourceElement().parentPin.choosen) eventArgs.getSourceElement().getFill().setOpacity(0.0);
          break;
      }
    }

    function elementInteraction(eventArgs) {
      switch(eventArgs.getEventType()) {
        case jsgl.MouseEvent.CLICK:
          sourceElement = null;
          break;
        case jsgl.MouseEvent.DOWN:
          sourceElement = eventArgs.getSourceElement();
          //for (var i = 0; i < arduinoElement.length; i++) {
            //if (sourceElement == arduinoElement[i].imageOnPanel) sourceElement.parent = arduinoElement[i];
          //}
          choosen = true;
          break;
        case jsgl.MouseEvent.UP:
          //text = "mouse up";
          break;
        case jsgl.MouseEvent.MOVE:
          //text = "mouse move";
          if (!currentLine) {
            if (sourceElement != null) {
              sourceElement.setLocationXY(eventArgs.getX()-sourceElement.getWidth()/2, eventArgs.getY()-sourceElement.getHeight()/2);
              for (var i = 0; i < sourceElement.parent.pinCount; i++) {
                sourceElement.parent.pins[i].rect.setLocationXY(sourceElement.getX()+sourceElement.parent.pins[i].pinX,
                                                                sourceElement.getY()+sourceElement.parent.pins[i].pinY);
                //if (sourceElement.parent.isArduino()) console.log("Arduino lagggggggggggggggggggggg");
                if (sourceElement.parent.pins[i].lineOut.length > 0) {
                  var lineArray = sourceElement.parent.pins[i].lineOut;
                  console.log("line out: " + sourceElement.parent.pins[i].lineOut.length);
                  for (var i = 0; i < lineArray.length; i++) {
                    lineArray[i].setStartPointXY(sourceElement.parent.pins[i].rect.getX()+5, sourceElement.parent.pins[i].rect.getY()+5);
                  }
                }
                if (sourceElement.parent.pins[i].lineIn.length > 0) {
                  var lineArray = sourceElement.parent.pins[i].lineIn;
                  console.log("line in");
                  for (var i = 0; i < lineArray.length; i++) {
                    lineArray[i].setEndPointXY(sourceElement.parent.pins[i].rect.getX()+5, sourceElement.parent.pins[i].rect.getY()+5);
                  }
                }
                //if (sourceElement.parent.pins[i].lineIn)
                //  sourceElement.parent.pins[i].lineIn.setEndPointXY(sourceElement.parent.pins[i].rect.getX()+5, sourceElement.parent.pins[i].rect.getY()+5);
              }
            }
          }
          break;
        case jsgl.MouseEvent.OVER:
          break;
        case jsgl.MouseEvent.OUT:
          break;
      }
    }

    function panelInteraction(eventArgs) {
      switch(eventArgs.getEventType()) {
        case jsgl.MouseEvent.CLICK:
          /*if (sourceElement) {
            for (var i = 0; i < sourceElement.parent.pins.length; i++) {
              var pin = sourceElement.parent.pins[i];
              //pin.rect.setLocationXY(sourceElement.getX()+pin.pinX,
              //                       sourceElement.getY()+pin.pinY);
              //if (sourceElement.parent.isArduino()) console.log("Arduino lagggggggggggggggggggggg");
              //console.log(i+": "+pin.lineOut.length);
              if (pin.lineOut.length > 0) {
                //var lineArray = pin.lineOut;
                //console.log("line out: " + pin.lineOut.length);
                for (var j = 0; j < pin.lineOut.length; j++) {
                  pin.lineOut[i].setStartPointXY(pin.rect.getX()+5, pin.rect.getY()+5);
                }
              }
              if (pin.lineIn.length > 0) {
                //var lineArray = pin.lineIn;
                //console.log("line in: " + pin.lineIn.length);
                for (var j = 0; j < pin.lineIn.length; j++) {
                  pin.lineIn[i].setEndPointXY(pin.rect.getX()+5, pin.rect.getY()+5);
                }
              }
              //pinsIterator[i] = pin;
              //if (sourceElement.parent.pins[i].lineIn)
              //  sourceElement.parent.pins[i].lineIn.setEndPointXY(sourceElement.parent.pins[i].rect.getX()+5, sourceElement.parent.pins[i].rect.getY()+5);
            }
          }*/
          sourceElement = null;
          if (sourcePinFromPanel){
            var nextSourcePinFromPanel = eventArgs.getSourceElement();
            if (nextSourcePinFromPanel instanceof jsgl.elements.RectangleElement) {
              if (sourcePinFromPanel === nextSourcePinFromPanel) {
                sourcePinFromPanel.getFill().setOpacity(0.0);
                myPanel.removeElement(sourcePinFromPanel.parentPin.lineOut.pop());
                //sourcePinFromPanel.parentPin.lineOut = null;
                sourcePinFromPanel.parentPin.choosen = false;
                console.log("Rectange = Rectangle");
                sourcePinFromPanel = null;
                currentLine = null;
              } else {
                //console.log(sourcePinFromPanel);
                //console.log(sourcePinFromPanel.parent);
                //console.log(sourcePinFromPanel.parentPin.parentObject);
                if (sourcePinFromPanel.parentPin.parentObject === nextSourcePinFromPanel.parentPin.parentObject) {
                  // shall i destroy the line (Pins.lineOut) or not?
                  // this time nothing happens
                  console.log("Rectange.parent = Rectangle.parent");
                } else {
                  sourcePinFromPanel.parentPin.pinOut = nextSourcePinFromPanel.parentPin;
                  nextSourcePinFromPanel.parentPin.pinIn = sourcePinFromPanel.parentPin;
                  currentLine = sourcePinFromPanel.parentPin.lineOut.pop();
                  if (sourcePinFromPanel.parentPin.parentObject.isArduino())
                    currentLine.getStroke().setColor("rgb(0,127,0)");//sourcePinFromPanel.parentPin.lineOut.getStroke().setColor("rgb(0,127,0)");
                  else if (!sourcePinFromPanel.parentPin.parentObject.isArduino() && nextSourcePinFromPanel.parentPin.pinType == 'ground')
                    currentLine.getStroke().setColor("rgb(0,0,127)");//sourcePinFromPanel.parentPin.lineOut.getStroke().setColor("rgb(0,0,127)");
                  else currentLine.getStroke().setColor("rgb(" + getColorInt() + "," + getColorInt() + "," + getColorInt() + ")");//sourcePinFromPanel.parentPin.lineOut.getStroke().setColor("rgb(" + getColorInt() + "," + getColorInt() + "," + getColorInt() + ")");
                  currentLine.setEndPointXY(nextSourcePinFromPanel.getX()+5, nextSourcePinFromPanel.getY()+5);//sourcePinFromPanel.parentPin.lineOut.setEndPointXY(nextSourcePinFromPanel.getX()+5, nextSourcePinFromPanel.getY()+5);
                  sourcePinFromPanel.getFill().setOpacity(0.0);
                  sourcePinFromPanel.parentPin.lineOut.push(currentLine);
                  nextSourcePinFromPanel.parentPin.lineIn.push(currentLine); //= sourcePinFromPanel.parentPin.lineOut;
                  sourcePinFromPanel = null;
                  currentLine = null;
                }
              }
            }
          } else {
            sourcePinFromPanel = eventArgs.getSourceElement();
            if (sourcePinFromPanel instanceof jsgl.elements.RectangleElement) {
              console.log("Rectangle");
              sourcePinFromPanel.getFill().setOpacity(1.0);
              sourcePinFromPanel.parentPin.choosen = true;
              var myLine = myPanel.createLine();
              myLine.setStartPointXY(sourcePinFromPanel.getX()+5, sourcePinFromPanel.getY()+5);
              myLine.setEndPointXY(eventArgs.getX(), eventArgs.getY());
              myLine.getStroke().setWeight(5);
              myLine.getStroke().setColor("rgb(0,0,0)");
              sourcePinFromPanel.parentPin.lineOut.push(myLine);
              myPanel.addElement(sourcePinFromPanel.parentPin.lineOut[sourcePinFromPanel.parentPin.lineOut.length-1]);
              currentLine = sourcePinFromPanel.parentPin.lineOut[sourcePinFromPanel.parentPin.lineOut.length-1];
              console.log(sourcePinFromPanel.parentPin.lineOut.length);
              //sourcePinFromPanel.parentPin.lineOut;
              //currentLine = sourcePinFromPanel.parent.lineOut;
            } else sourcePinFromPanel = null;
          }
          break;
        case jsgl.MouseEvent.DOWN:
          if (!sourcePinFromPanel) {
            if (eventArgs.getSourceElement() instanceof jsgl.elements.ImageElement) sourceElement = eventArgs.getSourceElement();
          }
          break;
        case jsgl.MouseEvent.UP:
          //text = "mouse up";
          break;
        case jsgl.MouseEvent.MOVE:
          //text = "mouse move";
          if (currentLine) {
            currentLine.setEndPointXY(eventArgs.getX(), eventArgs.getY());
          } else {
            //console.log("currentLine = null");
            if (sourceElement != null) {
              //console.log("sourceElement != null");
              sourceElement.setLocationXY(eventArgs.getX()-sourceElement.getWidth()/2, eventArgs.getY()-sourceElement.getHeight()/2);
              //var pinsIterator = sourceElement.parent.pins;
              for (var i = 0; i < sourceElement.parent.pins.length; i++) {
                var pin = sourceElement.parent.pins[i];
                pin.rect.setLocationXY(sourceElement.getX()+pin.pinX,
                                       sourceElement.getY()+pin.pinY);
                //if (sourceElement.parent.isArduino()) console.log("Arduino lagggggggggggggggggggggg");
                //console.log(i+": "+pin.lineOut.length);
                if (pin.lineOut.length > 0) {
                  //var lineArray = pin.lineOut;
                  //console.log("line out: " + pin.lineOut.length);
                  for (var j = 0; j < pin.lineOut.length; j++) {
                    pin.lineOut[j].setStartPointXY(pin.rect.getX()+5, pin.rect.getY()+5);
                  }
                }
                if (pin.lineIn.length > 0) {
                  //var lineArray = pin.lineIn;
                  //console.log("line in: " + pin.lineIn.length);
                  for (var j = 0; j < pin.lineIn.length; j++) {
                    pin.lineIn[j].setEndPointXY(pin.rect.getX()+5, pin.rect.getY()+5);
                  }
                }
                //pinsIterator[i] = pin;
                //if (sourceElement.parent.pins[i].lineIn)
                //  sourceElement.parent.pins[i].lineIn.setEndPointXY(sourceElement.parent.pins[i].rect.getX()+5, sourceElement.parent.pins[i].rect.getY()+5);
              }
              //sourceElement.parent.pins = pinsIterator;
            }
          }
          break;
        case jsgl.MouseEvent.OVER:
          if (eventArgs.getSourceElement() instanceof jsgl.elements.RectangleElement) eventArgs.getSourceElement().getFill().setOpacity(1.0);
          break;
        case jsgl.MouseEvent.OUT:
          if (eventArgs.getSourceElement() instanceof jsgl.elements.RectangleElement
          && !eventArgs.getSourceElement().parentPin.choosen) eventArgs.getSourceElement().getFill().setOpacity(0.0);
          break;
      }
    }
    //var element = {

    //};

    /*var source;

    var taked = function(eventArgs) {
      source = eventArgs.getSourceElement();
      //if (eventArgs.getEventType() == jsgl.MouseEvent.MOVE)
        source.setCenterLocationXY(eventArgs.getX(), eventArgs.getY());
      label.setText("Clicked");
    }

    var moving = function(eventArgs) {
      if (source != null) source.setLocationXY(eventArgs.getX(), eventArgs.getY());
      circle.setCenterLocationXY(eventArgs.getX(), eventArgs.getY());
      label.setText("Moving: "+eventArgs.getX() + "" + eventArgs.getY());
    }

    var mouseUp = function(eventArgs) {
      source = null;
      //if (eventArgs.getEventType() == jsgl.MouseEvent.MOVE)
      //  source.setLocationXY(eventArgs.getX(), eventArgs.getY());
      label.setText("Not clicked");
    }

    var func = function(eventArgs) {
      var text;
      switch(eventArgs.getEventType()) {
        case jsgl.MouseEvent.CLICK:
          source = null;
          text = "click: ";
          break;
        case jsgl.MouseEvent.DOWN:
          source = eventArgs.getSourceElement();
          text = "down: ";
          break;
        case jsgl.MouseEvent.MOVE:
          if (source != null) {
            if (source instanceof jsgl.elements.CircleElement) source.setCenterLocationXY(eventArgs.getX(), eventArgs.getY());
            else if (source instanceof jsgl.elements.LabelElement) source.setLocationXY(eventArgs.getX(), eventArgs.getY());
          }
          text = "move: ";
          break;
        case jsgl.MouseEvent.OUT:
          source = null;
          text = "out: ";
          break;
      }
      label.setText(text+eventArgs.getX() + " " + eventArgs.getY());
    }

    circle.addMouseDownListener(func);
    circle.addMouseMoveListener(func);
    circle.addMouseOutListener(func);
    circle.addClickListener(func);
    label.addMouseDownListener(func);
    label.addMouseMoveListener(func);
    label.addMouseOutListener(func);
    label.addClickListener(func);*/
    //myPanel.addMouseDownListener(taked);
    //myPanel.addMouseMoveListener(moving);
    //myPanel.addClickListener(mouseUp);
    //circle.addClickListener(mouseUp);
    //polygon.addClickListener(mouseUp);
    //label.addClickListener(mouseUp);
    /*var handler = function(eventArgs) {
    var text;
    switch(eventArgs.getEventType()) {
      case jsgl.MouseEvent.CLICK:
        circle.setCenterLocationXY(eventArgs.getX(), eventArgs.getY());
        break;
      case jsgl.MouseEvent.DOWN:
        circle.setCenterLocationXY(eventArgs.getX(), eventArgs.getY());
        break;
    }
    label.setText(text + " (" + eventArgs.getX() + "," + eventArgs.getY() + ")");
  }*/
  });
});
</script>
