<% layout('../layout') -%>
<h1><%= title %></h1>
<div class="list-group knowledge">
  <a role="button" class="list-group-item" href="/knowledge/arduino">What is an Arduino?</a>
  <a role="button" class="list-group-item" href="/knowledge/goal">What is the goal that WebArduino project wants rich?</a>
  <a role="button" class="list-group-item" href="/knowledge/gettingstarted">Getting started</a>
  <!-- <a role="button" class="list-group-item" href=""></a> -->
</div>
